In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
#Bending1 dataset
bending1_df1 = pd.read_csv("Dataset/AReM/bending1/dataset1.csv")
bending1_df2 = pd.read_csv("Dataset/AReM/bending1/dataset2.csv")
bending1_df3 = pd.read_csv("Dataset/AReM/bending1/dataset3.csv")
bending1_df4 = pd.read_csv("Dataset/AReM/bending1/dataset4.csv")
bending1_df5 = pd.read_csv("Dataset/AReM/bending1/dataset5.csv")
bending1_df6 = pd.read_csv("Dataset/AReM/bending1/dataset6.csv")
Test_bending1_df1 = pd.read_csv("Dataset/AReM/bending1/dataset7.csv")

In [55]:
Test_bending1_df1["type"]=pd.DataFrame(["bending1" for i in range(Test_bending1_df1.shape[0])])

In [42]:
# concatenating
All_bend1=pd.concat([bending1_df1,bending1_df2,bending1_df3,bending1_df4,bending1_df5,bending1_df6])
All_bend1["type"] = pd.DataFrame(["bending1" for i in range(All_bend1.shape[0])])
All_bend1.head(2)

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,type
0,0,39.25,0.43,22.75,0.43,33.75,1.3,bending1
1,250,39.25,0.43,23.00,0.00,33.00,0.0,bending1

In [4]:
#Bending2 Dataset
bending2_df1 = pd.read_csv("Dataset/AReM/bending2/dataset1.csv")
bending2_df2 = pd.read_csv("Dataset/AReM/bending2/dataset2.csv")
bending2_df3 = pd.read_csv("Dataset/AReM/bending2/dataset3.csv")
bending2_df4 = pd.read_csv("Dataset/AReM/bending2/dataset4.csv")
bending2_df5 = pd.read_csv("Dataset/AReM/bending2/dataset5.csv")
Test_bending2_df1 = pd.read_csv("Dataset/AReM/bending2/dataset6.csv")

In [56]:
Test_bending2_df1["type"]=pd.DataFrame(["bending2" for i in range(Test_bending2_df1.shape[0])])

In [57]:
All_test_bending= pd.concat([Test_bending1_df1,Test_bending2_df1])

In [44]:
# concatenating
All_bend2=pd.concat([bending2_df1,bending2_df2,bending2_df3,bending2_df4,bending2_df5])
All_bend2["type"] = pd.DataFrame(["bending2" for i in range(All_bend2.shape[0])])
All_bend2.head(2)

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,type
0,0,23.75,0.43,24.0,0.0,24.67,0.47,bending2
1,250,22.67,0.94,24.0,0.0,24.67,0.94,bending2

In [10]:
#Cycling Dataset
cycling_df1 = pd.read_csv("Dataset/AReM/cycling/dataset1.csv")
cycling_df2 = pd.read_csv("Dataset/AReM/cycling/dataset2.csv")
cycling_df3 = pd.read_csv("Dataset/AReM/cycling/dataset3.csv")
cycling_df4 = pd.read_csv("Dataset/AReM/cycling/dataset4.csv")
cycling_df5 = pd.read_csv("Dataset/AReM/cycling/dataset5.csv")
cycling_df6 = pd.read_csv("Dataset/AReM/cycling/dataset6.csv")
cycling_df7 = pd.read_csv("Dataset/AReM/cycling/dataset7.csv")
cycling_df8 = pd.read_csv("Dataset/AReM/cycling/dataset8.csv")
cycling_df9 = pd.read_csv("Dataset/AReM/cycling/dataset9.csv")
cycling_df10 = pd.read_csv("Dataset/AReM/cycling/dataset10.csv")
cycling_df11 = pd.read_csv("Dataset/AReM/cycling/dataset11.csv")
cycling_df12 = pd.read_csv("Dataset/AReM/cycling/dataset12.csv")
cycling_df13 = pd.read_csv("Dataset/AReM/cycling/dataset13.csv")
Test_cycling_df1 = pd.read_csv("Dataset/AReM/cycling/dataset14.csv")
Test_cycling_df2 = pd.read_csv("Dataset/AReM/cycling/dataset15.csv")

In [54]:
All_test_cycling= pd.concat([Test_cycling_df1,Test_cycling_df1])
All_test_cycling["type"] = pd.DataFrame(["cycling" for i in range(All_test_cycling.shape[0])])

In [46]:
All_cycle=pd.concat([cycling_df1,cycling_df2,cycling_df3,cycling_df4,cycling_df5,cycling_df6,cycling_df7,cycling_df8,cycling_df9,cycling_df10,cycling_df11,cycling_df12,cycling_df13])
All_cycle["type"] = pd.DataFrame(["cycling" for i in range(All_cycle.shape[0])])
All_cycle.head(2)

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,type
0,0,32.0,4.85,17.5,3.35,22.50,3.2,cycling
1,250,40.5,1.12,14.0,2.24,21.75,1.3,cycling

In [11]:
#Lying Dataset
lying_df1 = pd.read_csv("Dataset/AReM/lying/dataset1.csv")
lying_df2 = pd.read_csv("Dataset/AReM/lying/dataset2.csv")
lying_df3 = pd.read_csv("Dataset/AReM/lying/dataset3.csv")
lying_df4 = pd.read_csv("Dataset/AReM/lying/dataset4.csv")
lying_df5 = pd.read_csv("Dataset/AReM/lying/dataset5.csv")
lying_df6 = pd.read_csv("Dataset/AReM/lying/dataset6.csv")
lying_df7 = pd.read_csv("Dataset/AReM/lying/dataset7.csv")
lying_df8 = pd.read_csv("Dataset/AReM/lying/dataset8.csv")
lying_df9 = pd.read_csv("Dataset/AReM/lying/dataset9.csv")
lying_df10 = pd.read_csv("Dataset/AReM/lying/dataset10.csv")
lying_df11 = pd.read_csv("Dataset/AReM/lying/dataset11.csv")
lying_df12 = pd.read_csv("Dataset/AReM/lying/dataset12.csv")
lying_df13 = pd.read_csv("Dataset/AReM/lying/dataset13.csv")
Test_lying_df1 = pd.read_csv("Dataset/AReM/lying/dataset14.csv")
Test_lying_df2 = pd.read_csv("Dataset/AReM/lying/dataset15.csv")

In [53]:
All_test_lying= pd.concat([Test_lying_df1,Test_lying_df1])
All_test_lying["type"] = pd.DataFrame(["lying" for i in range(All_test_lying.shape[0])])

In [47]:
All_lying=pd.concat([lying_df1,lying_df2,lying_df3,lying_df4,lying_df5,lying_df6,lying_df7,lying_df8,lying_df9,lying_df10,lying_df11,lying_df12,lying_df13])
All_lying["type"] = pd.DataFrame(["lying" for i in range(All_lying.shape[0])])
All_lying.head(2)

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,type
0,0,29.0,0.0,9.0,0.71,8.5,0.5,lying
1,250,29.0,0.0,8.0,0.71,8.5,0.5,lying

In [12]:
#Sitting Dataset
sitting_df1 = pd.read_csv("Dataset/AReM/sitting/dataset1.csv")
sitting_df2 = pd.read_csv("Dataset/AReM/sitting/dataset2.csv")
sitting_df3 = pd.read_csv("Dataset/AReM/sitting/dataset3.csv")
sitting_df4 = pd.read_csv("Dataset/AReM/sitting/dataset4.csv")
sitting_df5 = pd.read_csv("Dataset/AReM/sitting/dataset5.csv")
sitting_df6 = pd.read_csv("Dataset/AReM/sitting/dataset6.csv")
sitting_df7 = pd.read_csv("Dataset/AReM/sitting/dataset7.csv")
sitting_df8 = pd.read_csv("Dataset/AReM/sitting/dataset8.csv")
sitting_df9 = pd.read_csv("Dataset/AReM/sitting/dataset9.csv")
sitting_df10 = pd.read_csv("Dataset/AReM/sitting/dataset10.csv")
sitting_df11 = pd.read_csv("Dataset/AReM/sitting/dataset11.csv")
sitting_df12 = pd.read_csv("Dataset/AReM/sitting/dataset12.csv")
sitting_df13 = pd.read_csv("Dataset/AReM/sitting/dataset13.csv")
Test_sitting_df1 = pd.read_csv("Dataset/AReM/sitting/dataset14.csv")
Test_sitting_df2 = pd.read_csv("Dataset/AReM/sitting/dataset15.csv")

In [52]:
All_test_sitting= pd.concat([Test_sitting_df1,Test_sitting_df1])
All_test_sitting["type"] = pd.DataFrame(["sitting" for i in range(All_test_sitting.shape[0])])

In [49]:
All_sitting=pd.concat([sitting_df1,sitting_df2,sitting_df3,sitting_df4,sitting_df5,sitting_df6,sitting_df7,sitting_df8,sitting_df9,sitting_df10,sitting_df11,sitting_df12,sitting_df13])
All_sitting["type"] = pd.DataFrame(["sitting" for i in range(All_sitting.shape[0])])
All_sitting.head(2)

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,type
0,0,42.0,0.0,19.20,0.98,15.5,2.06,sitting
1,250,42.0,0.0,19.33,0.94,11.0,0.82,sitting

In [14]:
#Walking Dataset
walking_df1 = pd.read_csv("Dataset/AReM/walking/dataset1.csv")
walking_df2 = pd.read_csv("Dataset/AReM/walking/dataset2.csv")
walking_df3 = pd.read_csv("Dataset/AReM/walking/dataset3.csv")
walking_df4 = pd.read_csv("Dataset/AReM/walking/dataset4.csv")
walking_df5 = pd.read_csv("Dataset/AReM/walking/dataset5.csv")
walking_df6 = pd.read_csv("Dataset/AReM/walking/dataset6.csv")
walking_df7 = pd.read_csv("Dataset/AReM/walking/dataset7.csv")
walking_df8 = pd.read_csv("Dataset/AReM/walking/dataset8.csv")
walking_df9 = pd.read_csv("Dataset/AReM/walking/dataset9.csv")
walking_df10 = pd.read_csv("Dataset/AReM/walking/dataset10.csv")
walking_df11 = pd.read_csv("Dataset/AReM/walking/dataset11.csv")
walking_df12 = pd.read_csv("Dataset/AReM/walking/dataset12.csv")
walking_df13 = pd.read_csv("Dataset/AReM/walking/dataset13.csv")
Test_walking_df1 = pd.read_csv("Dataset/AReM/walking/dataset14.csv")
Test_walking_df2 = pd.read_csv("Dataset/AReM/walking/dataset15.csv")

In [51]:
All_test_walking= pd.concat([Test_walking_df1,Test_walking_df1])
All_test_walking["type"] = pd.DataFrame(["walking" for i in range(All_test_walking.shape[0])])

In [50]:
All_walking=pd.concat([walking_df1,walking_df2,walking_df3,walking_df4,walking_df5,walking_df6,walking_df7,walking_df8,walking_df9,walking_df10,walking_df11,walking_df12,walking_df13])
All_walking["type"] = pd.DataFrame(["walking" for i in range(All_walking.shape[0])])
All_walking.head(2)

,time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23,type
0,0,35.0,3.67,16.5,3.77,14.00,1.63,walking
1,250,28.5,3.35,17.5,3.77,12.25,3.90,walking

#### Mearging All File

In [58]:
#Train DataFrame
train_df = pd.concat([All_bend1,All_bend2,All_cycle,All_lying,All_sitting,All_walking])
train_df.to_csv("Dataset/AReM/train.csv")

In [59]:
#Test Dataframe
test_df = pd.concat([All_test_bending,All_test_cycling,All_test_lying,All_test_sitting,All_test_walking])
test_df.to_csv("Dataset/AReM/test.csv")