In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset = pd.read_excel("Dataset/Flight Prediction/Data_Train.xlsx")

In [4]:
dataset.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
8281,Air India,27/03/2019,Delhi,Cochin,DEL → BOM → COK,21:00,19:15 28 Mar,22h 15m,1 stop,No info,6692
6310,IndiGo,9/06/2019,Delhi,Cochin,DEL → BOM → COK,17:10,01:30 10 Jun,8h 20m,1 stop,No info,6206
3385,IndiGo,27/03/2019,Delhi,Cochin,DEL → AMD → COK,07:45,13:40,5h 55m,1 stop,No info,4832
2911,Air India,9/06/2019,Kolkata,Banglore,CCU → DEL → AMD → BLR,10:00,05:25 10 Jun,19h 25m,2 stops,No info,12744
6847,Jet Airways,18/05/2019,Mumbai,Hyderabad,BOM → HYD,10:20,11:50,1h 30m,non-stop,In-flight meal not included,4050

In [12]:
dataset["Date"] = dataset["Date_of_Journey"].str.split("/").str[0].astype(int)
dataset["Month"]= dataset["Date_of_Journey"].str.split("/").str[1].astype(int)
dataset["Year"] = dataset["Date_of_Journey"].str.split("/").str[2].astype(int)

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
 11  Date             10683 non-null  int32
 12  Month            10683 non-null  int32
 13  Year             10683 non-null  int32
dtypes: int32(3), int64(1), object(10)
memory usage: 1.0+ MB

In [ ]:
22h 15m

In [35]:
def to_min(data):
    try :
        new_data = data.split(" ")
        hr = mi = 0
        if len(new_data)==1:
            ch = new_data[0]
            if ch[-1]=='h':
                hr = int(ch[:-1])
            else:
                mi = int(ch[:-1])
        else:
            hr = int(new_data[0][:-1])
            mi = int(new_data[1][:-1])
        return hr*60 + mi
    except:
        return -1

In [37]:
dataset["Duration_min"] = dataset["Duration"].apply(to_min)

In [38]:
dataset.sample(4)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Duration_min
3112,Jet Airways,21/03/2019,Delhi,Cochin,DEL → BDQ → BOM → COK,18:25,04:25 22 Mar,10h,2 stops,In-flight meal not included,7791,21,3,2019,600
1053,IndiGo,27/06/2019,Delhi,Cochin,DEL → HYD → COK,07:35,12:10,4h 35m,1 stop,No info,5054,27,6,2019,275
447,SpiceJet,1/06/2019,Chennai,Kolkata,MAA → CCU,09:45,12:00,2h 15m,non-stop,No check-in baggage included,3543,1,6,2019,135
1832,Jet Airways,21/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,23:00,14h 5m,1 stop,In-flight meal not included,6992,21,3,2019,845

In [73]:
dataset.Total_Stops.unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [75]:
dataset["Total_Stops"] = dataset["Total_Stops"].map({'non-stop':1, '2 stops':2, '1 stop':1, '3 stops':3, 'nan':1, '4 stops':4})

In [77]:
dataset.sample(5)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Duration_min
266,IndiGo,24/06/2019,Delhi,Cochin,DEL → BOM → COK,11:25,01:30 25 Jun,14h 5m,1.0,No info,5684,24,6,2019,845
9878,Multiple carriers,27/06/2019,Delhi,Cochin,DEL → BOM → COK,11:40,01:30 28 Jun,13h 50m,1.0,In-flight meal not included,5797,27,6,2019,830
5096,Jet Airways,15/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,19:00 16 Jun,25h 30m,1.0,In-flight meal not included,10262,15,6,2019,1530
8141,Air India,6/03/2019,Delhi,Cochin,DEL → MAA → COK,12:30,09:25 07 Mar,20h 55m,1.0,No info,13832,6,3,2019,1255
2244,Vistara,9/04/2019,Delhi,Cochin,DEL → COK,06:00,09:10,3h 10m,1.0,No info,5586,9,4,2019,190

In [86]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  float64
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
 11  Date             10682 non-null  int32
 12  Month            10682 non-null  int32
 13  Year             10682 non-null  int32
 14  Duration_min     10682 non-null  int64
dtypes: float64(1), int32(3), int64(2), object(9)
memory usage: 1.2+ MB

In [93]:
dataset["Dep_hr"] = dataset["Dep_Time"].str.split(":").str[0]
dataset["Dep_min"] = dataset["Dep_Time"].str.split(":").str[1]
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  float64
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
 11  Date             10682 non-null  int32
 12  Month            10682 non-null  int32
 13  Year             10682 non-null  int32
 14  Duration_min     10682 non-null  int64
 15  Dep_hr           10682 non-null  object
 16  Dep_min          10682 non-null  object
dtypes: float64(1), int32(3), int64(2), object(11)
memory usage: 1.6+ MB

In [94]:
dataset["Arrival_Time"] = dataset["Arrival_Time"].str.split(" ").str[0]
dataset["Arrival_hr"] = dataset["Arrival_Time"].str.split(":").str[0]
dataset["Arrival_min"] = dataset["Arrival_Time"].str.split(":").str[1]
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Date_of_Journey  10682 non-null  object
 2   Source           10682 non-null  object
 3   Destination      10682 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10682 non-null  object
 6   Arrival_Time     10682 non-null  object
 7   Duration         10682 non-null  object
 8   Total_Stops      10682 non-null  float64
 9   Additional_Info  10682 non-null  object
 10  Price            10682 non-null  int64
 11  Date             10682 non-null  int32
 12  Month            10682 non-null  int32
 13  Year             10682 non-null  int32
 14  Duration_min     10682 non-null  int64
 15  Dep_hr           10682 non-null  object
 16  Dep_min          10682 non-null  object
 17  Arrival_hr       10682 non-null  object
 18  Arrival_min      10682 non-null  object
dtypes: float64(1), int32(3), int64(2), object(13)
memory usage: 1.8+ MB

In [95]:
dataset["Arrival_hr"] = dataset["Arrival_hr"].astype(int)
dataset["Arrival_min"] = dataset["Arrival_min"].astype(int)
dataset["Dep_hr"] = dataset["Dep_hr"].astype(int)
dataset["Dep_min"] = dataset["Dep_min"].astype(int)

In [97]:
dataset.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price', 'Date', 'Month', 'Year', 'Duration_min',
       'Dep_hr', 'Dep_min', 'Arrival_hr', 'Arrival_min'],
      dtype='object')

In [98]:
# Droping Un Wanted info
dataset.drop(['Route','Dep_Time', 'Arrival_Time', 'Duration','Date_of_Journey'],axis=1,inplace=True)
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10682 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10682 non-null  object
 1   Source           10682 non-null  object
 2   Destination      10682 non-null  object
 3   Total_Stops      10682 non-null  float64
 4   Additional_Info  10682 non-null  object
 5   Price            10682 non-null  int64
 6   Date             10682 non-null  int32
 7   Month            10682 non-null  int32
 8   Year             10682 non-null  int32
 9   Duration_min     10682 non-null  int64
 10  Dep_hr           10682 non-null  int32
 11  Dep_min          10682 non-null  int32
 12  Arrival_hr       10682 non-null  int32
 13  Arrival_min      10682 non-null  int32
dtypes: float64(1), int32(7), int64(2), object(4)
memory usage: 1.2+ MB

In [80]:
#Droping Null Values
dataset.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
Date               0
Month              0
Year               0
Duration_min       0
dtype: int64

In [82]:
dataset.dropna(inplace=True)

In [100]:
dataset.shape, dataset.drop_duplicates().shape

((10682, 14), (10460, 14))

In [101]:
#Dropping Repeted dataset.
dataset.drop_duplicates(inplace=True)

## For Categorical Data

In [132]:
# For dataset Airlines
data = dataset.Airline.value_counts().reset_index()
data

                                index  Airline
0                         Jet Airways     3700
1                              IndiGo     2043
2                           Air India     1694
3                   Multiple carriers     1196
4                            SpiceJet      815
5                             Vistara      477
6                            Air Asia      318
7                               GoAir      194
8   Multiple carriers Premium economy       13
9                Jet Airways Business        6
10            Vistara Premium economy        3
11                             Trujet        1

In [139]:
def for_airlines(data):
    try:
        name = ["Multiple carriers Premium economy","Jet Airways Business","Vistara Premium economy","Trujet"]
        if data in name :
            return "Others"
        else:
            return data
    except:
        return np.nan

In [140]:
dataset["Airline"] = dataset["Airline"].apply(for_airlines)

In [141]:
#For Source dataset
dataset["Source"].value_counts()

Delhi       4345
Kolkata     2860
Banglore    2177
Mumbai       697
Chennai      381
Name: Source, dtype: int64

In [146]:
#For Additional Info
pd.DataFrame(dataset.Additional_Info.value_counts().reset_index())

                          index  Additional_Info
0                       No info             8180
1   In-flight meal not included             1926
2  No check-in baggage included              318
3                1 Long layover               19
4               Change airports                7
5                Business class                4
6                       No Info                3
7               1 Short layover                1
8                Red-eye flight                1
9                2 Long layover                1

In [71]:
dataset.Destination.value_counts()

Cochin       4537
Banglore     2871
Delhi        1265
New Delhi     932
Hyderabad     697
Kolkata       381
Name: Destination, dtype: int64