- Topics :
    1. ARIMA - Auto Regression , Intregation, Moving Average
    2. SARIMAX

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("airline_passengers.csv")
df.head()

     Month  Thousands of Passengers
0  1949-01                    112.0
1  1949-02                    118.0
2  1949-03                    132.0
3  1949-04                    129.0
4  1949-05                    121.0

In [6]:
df.shape

(145, 2)